.center{
    display: flex;
    justify-content: center;
}
.title{
    font-size: 2.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flecheGauche, .flecheDroite{
    background-color: var(--noir);
    position: absolute;
    top: 95px;
    padding: 5px 2.5px;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin:  0 -25px;
}
.flecheDroite{
    right: 0;
}
.flecheGauche{
    left: 0;
}
.container{
    position: relative;
}
.img{
    z-index: 0;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.part1{
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    margin: 20px 0;
}
.price{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: var(--noir);
    font-size: 1.5em;
}
.carre{
    content: "";
    width: 50px;
    height: 50px;
    background-color: rgb(245, 245, 245);
    border-left: 3px solid red;
    border-bottom: 3px solid green;
}
.flex{
    display: flex;
    position: relative;
}
.height{
    position: relative;
    color: red;
    margin-top: 5px;
    margin-right: 5px;
    width: auto;
}
.cm{
    position: relative;
    left: -3px;
}
.width{
    position: relative;
    color: green;
    margin-left: 15px;
}
.btn{
    background-color: var(--noir);
    border: none;
    font-size: 1.5em;
    color: #fff;
    width: 270px;
    border-radius: 15px;
    padding: 5px 0;
}
.box{
    width: 270px;
    position: relative;
}

@media (min-width: 1024px){
    .cadre{
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    .part1{
        width: 400px;
    }
    .price{
        margin-left: 50px;
        font-size: 2em;
    }
    .size{
        margin-right: 50px;
    }
    .cm, .width, .height{
        font-size: 1.5em;
    }
    .carre{
        width: 100px;
        height: 100px;
    }
    .cont{
        align-items: start;
        margin-right: 15%;
        margin-left: 100px !important;
    }
    .width{
        margin-left: 30px;
    }
    .height{
        margin-top: 30px;
    }
    .btn{
        width: 400px;
        padding: 20px;
        border-radius: 5px;
        border: 3px solid transparent;
    }
    .btn:hover{
        background-color: #fff;
        color: var(--noir);
        border: 3px solid black;
    }
    .desc{
        font-size: 1.5em;
        max-width: 400px;
        max-height: 500px;
    }
}